@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MealChoicesViewModel

@{
    ViewData["Title"] = "Meal Choices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="get" class="form-control">
    <label for="date" class="form-label">Choose a date:</label>
    <select id="date" name="date" asp-items="Model.DateChoices" class="form-select">
        <option value=""> -- Select a date -- </option>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Show</button>
</form>
@if (Model.HotMealCounts.Count != 0)
{
    <table class="table m-3">
        <thead>
            <tr>
                <th>Hot meal</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach ((var mealDescription, var mealCount) in Model.HotMealCounts)
            {
                <tr>
                    <td>@mealDescription</td>
                    <td>@mealCount</td>
                </tr>
            }
        </tbody>
    </table>
}
